html{
 font-family: "Montserrat";
 font-size: 16px;
}

body{
    margin: 0px;
    background-color: rgba(196, 196, 196, 0.493);
}

h1{
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0px;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
}

h3{
    font-size: 1.25rem;
    margin: 0px;
}

p{
    font-size: .8rem;
    margin: 0px;
    padding: .3rem;
}

.container {
    display: flex;
    gap: 3rem;
}

#flex2{
    margin-top: 3.5rem;
}

#head{
    background-color: #02A28F;  
    height: 100vh;
    color: white;
    padding-left: 10rem;
    height: 4.3rem;
    padding-top: 1.8rem;
}

#Post_principal{
    background-image: url(./img/banner\ article1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 22.5rem;
    width: 45.5rem;
    color: white;
    margin-top: 3rem;
    margin-left: 10rem;
    display: flex;
    align-items:last baseline;
    padding: 3rem;
    border-radius: 1rem;
}




#titulo_posts{
  margin-left: 11.2rem;
  padding-left: 1rem;
  width: 48rem;
  height: 3.5rem;
  background-color: #02A28F;
  color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding-top: .7rem;

}

#section_posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 11.2rem;
    gap: 0;
    width: 49.5rem;
    margin-bottom: 5rem;
}

.Posts{
    width: 23rem;
    height: 23rem;
    text-align:left;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 8px;
    padding-bottom: 2rem;
}
.Posts:nth-child(even){
    margin-left: 1.3rem;
}

.Posts > img{
    width: 100%;
    border-radius: 8px ;
}
.Posts_texto{
    padding: .5rem;
}
.Posts_texto:nth-child(even){
    padding: .5rem;
}
.paragrafo-azul{
    color: #02A28F;
}
.paragrafo_by{
    color: #616161;
}

.Posts_pops{
    display: flex;
    margin-bottom: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    width: 22.5rem;
}

.Posts_pops > img {
    border-radius: 1rem;
}

.titulos{
  padding-left: 1rem;
  width: 22.5rem;
  height: 3rem;
  background-color: #02A28F;
  color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
  
}

.padding_post{
    padding: .4rem;
}

#lista_categorias{
    list-style: none;
    color: #616161;
    width:  22.5rem ;
    align-items:initial ;
    padding: 0;
    
}

#lista_categorias > li{
    margin-bottom: .6rem;
}




#footer{
    background-color: #02A28F;  
    height: 100%;
    color: white;
    text-align: center;
    height: 3rem;
    justify-content: center;
    padding-top: 1.5rem
    
}

